@import '../../assets/styles/fonts.scss';
@import '../../assets/styles/colors.scss';

.rating {
  display: flex;
  align-items: flex-end;
}

.rating__body {
  position: relative;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  &::before {
    content: url(./img/rating-stars.svg);
    position: absolute;
    width: 100%;
    height: 100%;
    top: -2px;
    left: 0;
  }
}

.rating__items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  flex: 0 0 24px;
  height: 100%;
  opacity: 0;
}





// .rating {
//   position: relative;
//   display: inline-block;
// }

// .rating__items {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   top: 0;
//   left: 0;
//   display: flex;
//   flex-direction: row-reverse;
//   overflow: hidden;
// }

// .rating__item {
//   position: absolute;
//   width: 0%;
//   height: 0%;
//   opacity: 0;
//   visibility: hidden;
//   top: 0;
//   left: 0;
//   &:checked ~ .rating__label::before {
//       content: url(./img/star.svg);
//   }
// }

// .rating__label {
//   flex: 0 0 20%;
//   height: 100%;
//   cursor: pointer;
//   &::before {
//     display: block;
//     margin-left: 2px;
//     transition: all 0.3s ease 0s;
//   }
//   &:hover,
//   &:hover ~ .rating__label,
//   &:checked ~ .rating__label:hover {
//     &::before {
//       content: url(./img/star.svg);
//     }
//   }
// }