@import '../../assets/styles/fonts.scss';
@import '../../assets/styles/colors.scss';
@import '../../assets/styles/mixins.scss';

.header {
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    z-index: 2;
  }
}

.header__flex {
  position: relative;
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  position: relative;
  z-index: 3;
}

.header__burger {
  display: none;
  cursor: pointer;
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
}

.header__nav-active {}

.header__buttons {
  display: flex;
  position: relative;
  z-index: 2;
}

.header__wrapp-button {

  &:nth-of-type(1) {
    margin-right: 20px;
  }
}

.header__list {
  display: flex;
  margin-right: 20px;
  position: relative;
  z-index: 2;
}

.header__list-item {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.header__list-link {
  font-family: 'Montserrat-Regular';
  font-size: 14px;
  line-height: 17px;
  color: $dark-50;
  text-decoration: none;
}

@media(max-width: 992px) {
  .header__flex {
    flex-wrap: wrap;
    height: 50px;
  }

  .header__burger {
    display: block;
    position: relative;
    min-width: 40px;
    min-height: 30px;
    z-index: 3;

    & span {
      position: absolute;
      background-color: $purple;
      left: 0;
      width: 100%;
      height: 2px;
      top: 14px;
      transition: all 0.3s ease 0s;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $purple;
      left: 0;
      transition: all 0.3s ease 0s;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  .header__burger-active span {
    transform: scale(0);
  }

  .header__burger-active::before {
    transform: rotate(45deg);
    top: 13px;
  }

  .header__burger-active::after {
    transform: rotate(-45deg);
    bottom: 13px;
  }

  .header__nav {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 120px 0px 0px 15px;
    background-color: $green;
    top: -100%;
    left: 0;
    transition: all 0.3s ease 0s;
    overflow: auto;

    &.header__nav-active {
      top: 0;
    }
  }

  .header__list {
    display: block;
    margin: 0 auto;
  }

  .header__list-item {
    padding: 0px 0px 40px 0px;
  }

  .header__list-link {
    font-size: 40px;
  }
}

@media(max-width: 500px) {
  .header__logo {
    display: none;
  }
}