@import '../../assets/styles/fonts.scss';
@import '../../assets/styles/colors.scss';
@import '../../assets/styles/mixins.scss';

.footer {
  height: 372px;
  padding-top: 100px;
  background-color: $white;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

.footer__info {
  max-width: 260px;
}

.footer__logo {
  max-width: 105px;
  height: 40px;
  margin-bottom: 20px;
}

.footer__info-text {
  font-family: 'Montserrat-Regular';
  font-size: 14px;
  line-height: 24px;
  color: $dark-75;
}

.footer__item {

  .caption {
    margin-bottom: 21px;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.footer__list-item {
  font-family: 'Montserrat-Regular';
  font-size: 14px;
  color: $dark-50;
  margin-bottom: 20px;

  & a {
    &:hover {
      color: $dark-100;
    }

    color: $dark-50;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.footer__subscription {
  max-width: 260px;
}

.footer__subscription-text {
  font-family: 'Montserrat-Regular';
  font-size: 14px;
  line-height: 24px;
  color: $dark-75;
  margin-bottom: 20px;
}

.footer__subscription-wrapp-subscription-field {
  max-width: 260px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.footer__bottom-text {
  font-family: 'Montserrat-Regular';
  font-size: 14px;
  line-height: 17px;
  color: $dark-75;
}

.footer__bottom-list {
  display: flex;
}

.footer__bottom-list-item {
  margin-right: 20px;

  &:last-of-type {
    margin-right: 0px;
  }

}

@media(max-width: 1200px) {

  .footer__info {
    display: none;
  }
}

@media(max-width: 767px) {
  .footer {
    padding-top: 50px;
  }

  .footer-flex {
    justify-content: center;
  }

  .footer__item {
    flex: 0 1 30%;
  }

  .footer__about-us {
    margin-bottom: 20px;
  }
}

@media(max-width: 530px) {

  .footer__item {
    flex: 0 1 50%;
  }
}